In [ ]:
%ls

'data_C(Nov 3).csv'   sample_data/

In [ ]:
import warnings 
warnings.filterwarnings('ignore')  #supress warnings

In [ ]:
!pip install nltk -q  #q is used for quiet installations

In [ ]:
import nltk

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

df=pd.read_csv('data_C(Nov 3).csv')
df.sample(10)

          category                                               text
194           tech  gizmondo gadget hits the shelves the gizmondo ...
132          sport  wales get williams fitness boost wales are hop...
169  entertainment  stars gear up for bafta ceremony film stars fr...
466          sport  healey targets england comeback leicester wing...
93           sport  south africa sweep top awards south africa s s...
283       politics  plan to give elderly care control elderly and ...
301       politics  fox attacks blair s tory  lies  tony blair lie...
70        politics  wales  must learn health lessons  the new heal...
38        politics  debate needed  on donations cap a cap on donat...
29   entertainment  halloween writer debra hill dies screenwriter ...

Text Preprocessing

-remove punctuation
-remove numbers using regex/ find replace
-remove @ and # signs
-lower text

In [ ]:
sample=df['text'].iloc[0] 
print(sample)

tv future in the hands of viewers with home theatre systems  plasma high-definition tvs  and digital video recorders moving into the living room  the way people watch tv will be radically different in five years  time.  that is according to an expert panel which gathered at the annual consumer electronics show in las vegas to discuss how these new technologies will impact one of our favourite pastimes. with the us leading the trend  programmes and other content will be delivered to viewers via home networks  through cable  satellite  telecoms companies  and broadband service providers to front rooms and portable devices.  one of the most talked-about technologies of ces has been digital and personal video recorders (dvr and pvr). these set-top boxes  like the us s tivo and the uk s sky+ system  allow people to record  store  play  pause and forward wind tv programmes when they want.  essentially  the technology allows for much more personalised tv. they are also being built-in to high-definition tv sets  which are big business in japan and the us  but slower to take off in europe because of the lack of high-definition programming. not only can people forward wind through adverts  they can also forget about abiding by network and channel schedules  putting together their own a-la-carte entertainment. but some us networks and cable and satellite companies are worried about what it means for them in terms of advertising revenues as well as  brand identity  and viewer loyalty to channels. although the us leads in this technology at the moment  it is also a concern that is being raised in europe  particularly with the growing uptake of services like sky+.  what happens here today  we will see in nine months to a years  time in the uk   adam hume  the bbc broadcast s futurologist told the bbc news website. for the likes of the bbc  there are no issues of lost advertising revenue yet. it is a more pressing issue at the moment for commercial uk broadcasters  but brand loyalty is important for everyone.  we will be talking more about content brands rather than network brands   said tim hanlon  from brand communications firm starcom mediavest.  the reality is that with broadband connections  anybody can be the producer of content.  he added:  the challenge now is that it is hard to promote a programme with so much choice.   what this means  said stacey jolna  senior vice president of tv guide tv group  is that the way people find the content they want to watch has to be simplified for tv viewers. it means that networks  in us terms  or channels could take a leaf out of google s book and be the search engine of the future  instead of the scheduler to help people find what they want to watch. this kind of channel model might work for the younger ipod generation which is used to taking control of their gadgets and what they play on them. but it might not suit everyone  the panel recognised. older generations are more comfortable with familiar schedules and channel brands because they know what they are getting. they perhaps do not want so much of the choice put into their hands  mr hanlon suggested.  on the other end  you have the kids just out of diapers who are pushing buttons already - everything is possible and available to them   said mr hanlon.  ultimately  the consumer will tell the market they want.   of the 50 000 new gadgets and technologies being showcased at ces  many of them are about enhancing the tv-watching experience. high-definition tv sets are everywhere and many new models of lcd (liquid crystal display) tvs have been launched with dvr capability built into them  instead of being external boxes. one such example launched at the show is humax s 26-inch lcd tv with an 80-hour tivo dvr and dvd recorder. one of the us s biggest satellite tv companies  directtv  has even launched its own branded dvr at the show with 100-hours of recording capability  instant replay  and a search function. the set can pause and rewind tv for up to 90 hours. and microsoft chief bill gates announced in his pre-show keynote speech a partnership with tivo  called tivotogo  which means people can play recorded programmes on windows pcs and mobile devices. all these reflect the increasing trend of freeing up multimedia so that people can watch what they want  when they want.

In [ ]:
df['text']=df['text'].str.replace('@', '')
df['text']=df['text'].str.replace('#', '')
df['text']=df['text'].str.replace('\d+', '') #looking for digits 
df['text']=df['text'].str.replace('[^\w\s]', '') #punctuation. w-look for letters s-look for spaces
df['text']=df['text'].str.lower()

In [ ]:
df.head(10)

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...
5       politics  howard hits back at mongrel jibe michael howar...
6       politics  blair prepares to name poll date tony blair is...
7          sport  henman hopes ended in dubai third seed tim hen...
8          sport  wilkinson fit to face edinburgh england captai...
9  entertainment  last star wars  not for children  the sixth an...

In [ ]:
from nltk.corpus import stopwords as sw

stop=set(sw.words('english'))
print(stop)
print(len(stop))

{'them', 'o', 'were', 'both', 'other', "should've", 'they', "isn't", "it's", 'before', 'its', 'between', 'with', 'on', 'all', "won't", 'their', 'most', 'against', 'just', 'that', 'not', 'how', 'couldn', "you'd", 'yourself', 'those', 'of', 'himself', 'yours', 'whom', 've', 'down', "that'll", "don't", 's', 'ma', 'me', 'won', 'mightn', 'same', 'ourselves', 'than', "shouldn't", 'isn', 'these', 'until', "hasn't", 'theirs', 'weren', 'him', 'hadn', 'own', 'the', 'so', 'you', 'hers', 'does', "you've", 'during', 'from', 'don', 'y', 'is', 'nor', 'an', 'then', 'more', 'as', 'by', 'under', 'll', 're', 'his', 'shan', "hadn't", 'herself', "haven't", 't', "didn't", 'we', 'what', 'yourselves', 'or', 'it', "couldn't", 'are', 'haven', 'aren', "wouldn't", "mustn't", "weren't", 'while', "you're", 'my', 'only', 'into', 'being', 'do', 'few', 'again', 'ain', 'now', 'themselves', 'about', 'when', 'which', 'he', 'she', 'didn', 'will', 'be', 'below', 'a', 'can', "shan't", 'ours', 'mustn', 'but', 'doesn', 'myself', 'have', 'had', 'needn', 'why', 'in', 'itself', 'here', 'such', 'who', 'some', "doesn't", 'your', 'off', 'wasn', 'having', 'up', 'been', 'because', 'further', 'am', 'doing', 'if', 'shouldn', 'above', 'this', 'has', 'through', 'for', 'should', 'hasn', 'at', 'over', 'each', 'd', 'was', "mightn't", "aren't", 'wouldn', 'did', 'her', 'once', 'too', "you'll", 'any', 'i', 'no', 'm', 'out', 'where', 'to', "she's", 'after', "needn't", 'and', 'our', 'very', "wasn't", 'there'}
179

In [ ]:
df['text']=df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [ ]:
df

           category                                               text
0              tech  tv future hands viewers home theatre systems p...
1          business  worldcom boss left books alone former worldcom...
2             sport  tigers wary farrell gamble leicester say rushe...
3             sport  yeading face newcastle fa cup premiership side...
4     entertainment  ocean twelve raids box office ocean twelve cri...
...             ...                                                ...
2220       business  cars pull us retail figures us retail sales fe...
2221       politics  kilroy unveils immigration policy exchatshow h...
2222  entertainment  rem announce new glasgow concert us band rem a...
2223       politics  political squabbles snowball become commonplac...
2224          sport  souness delight euro progress boss graeme soun...

[2225 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

bow_vect=CountVectorizer()
tfidf_vect=TfidfVectorizer(ngram_range=(1,2))  #improves accuracy

bow=bow_vect.fit_transform(df['text'])
tfidf=tfidf_vect.fit_transform(df['text'])

In [ ]:
#print(bow.get_feature_names()[:10])

In [ ]:
#train test splits
from sklearn.model_selection import train_test_split as test

#bow split
x_train_bow, x_test_bow, y_train_bow, y_test_bow = test(bow, df['category'], test_size=0.2)

#TfIdf split
x_train_idf, x_test_idf, y_train_idf, y_test_idf = test(tfidf, df['category'], test_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier as KN
from sklearn.metrics import accuracy_score as acc

bow_knn=KN()
bow_knn.fit(x_train_bow, y_train_bow)
bow_pred=bow_knn.predict(x_test_bow)
print(acc(y_test_bow,bow_pred))


idf_knn=KN()
idf_knn.fit(x_train_idf, y_train_idf)
idf_pred=idf_knn.predict(x_test_idf)
print(acc(y_test_idf,idf_pred))

0.5820224719101124
0.9483146067415731